@font-face {
  font-family: "iconfont"; /* Project id 2812942 */
  src: url('./iconfont.woff2?t=1631931302378') format('woff2'),
       url('./iconfont.woff?t=1631931302378') format('woff'),
       url('./iconfont.ttf?t=1631931302378') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-square:before {
  content: "\e888";
}



